@use '~@angular/material' as mat;

@include mat.core();
@import "./theme.scss";
@import "./custom-component-themes.scss";
@include mat.all-component-themes($theming-material-components-theme);
@include custom-components-theme($theming-material-components-theme, $notifications-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include custom-components-theme($dark-theme, $notifications-theme);
}

@include mat.all-component-typographies($typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}